


<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-4 latoAdd shdw">
        <form class="" (submit)="addTask($event)">
            <div class="form-group input-field " style="margin-top:40px;text-align:center">
                <input type="text" [(ngModel)]="title" id="addTask" name="title" class="validate">    
                <label for="addTask">Add Task</label>
                <button type="submit" class="btnAdd" style="color:black">ADD</button>
            </div>  
        </form> 
    </div>


    <div class="col-md-8 col-sm-8 col-xs-8 rightPannel">
        <div class="row">
        <div  *ngFor="let task of tasks" >
            <div class="col-md-6 col-xs-6 col-sm-6 ">
              <div class="card">
                
                <div class="card-task">
                  <p> 
                    <span style="float:right" (click)="deleteTask(task._id)" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      
                        {{task.title}} 
                      <!-- task -->
                  </p>
                </div>
                <div class="card-complete">   
                     <div class="switch" style="">
                        <label>
                          Pending
                          <input type="checkbox" [checked]="task.isDone" (click)="updateStatus(task)">
                          <span class="lever"></span>
                          Completed
                        </label>
                      </div>   
                </div>
              </div>
            </div>
        </div>    
    </div>
    </div>
</div>









